html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  //display: grid;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: auto;
}

svg {
  height: 100%;
  width: fit-content;
  max-width: 100%;
}

// #tinymce {
//   display: block;
// }

.wpsvg-inline {
  text-align: center;
  height: 100%;
  place-items: center;
  max-width: 100%;
}

.wp-block-image img {
  height: auto;
}

//wpsvg glich on bluehost
div.wpsvg-inline + img.wpsvg-inline {
  display: none;
}
