.btn {
  background-color: var(--primary-light);
  padding: 1rem;
  margin: 0.5rem 0.25rem;
  display: inline-block;
  border-radius: $border-size;
  font-weight: 600;

  @include breakpoint(lg) {
    margin: 1rem 2rem 1rem 0;
  }

  &--primary,
  &-primary {
    background-color: var(--accent1);
  }

  &--secondary,
  &-secondary {
    border: 2px solid var(--primary-light);
    background-color: transparent;
  }

  &--inverse {
    border: 2px solid var(--primary-light);
    background-color: transparent;
    color: var(--primary);
  }
}

.btns {
  margin: 1rem 0;
}
