.error404 {
  h1 {
    margin-top: 0;
  }

  h1,
  p {
    padding: 0 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .search-form {
    text-align: center;
    margin: 1rem;
  }
}

.svg404 {
  width: 100vw;
  display: block;
  margin: 1rem auto;

  @include breakpoint(xl) {
    margin: 2rem auto;
    width: 75vw;
    max-width: 1000px;
  }

  [data-name="CHARACTER"] {
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0);
    animation: float 6s ease-in-out infinite;
  }

  [data-name="SPARKLES"] {
    path:nth-of-type(n) {
      animation: glimmer 3s ease-in-out infinite;
    }

    path:nth-of-type(2n+1) {
      animation: glimmer2 2.5s ease-in-out infinite;
    }

    path:nth-of-type(3n+1) {
      animation: glimmer3 2.75s ease-in-out infinite;
    }
  }
}

