.home {
  background-color: var(--light);

  .content {
    margin-bottom: 0;
  }

  .section__title,
  .section__description {
    color: var(--primary-dark);
  }

  .section {
    margin-top: 3.5vh;

    &:first-child {
      margin-top: 0;
    }
  }

  .section.single {
    background-color: var(--dark);
    padding: 3rem 0;

    .section__title {
      margin-top: 2rem;
    }

    .section__title,
    .section__description {
      color: var(--light);
    }

    .btns {
      margin: 2rem auto;

      @include breakpoint(lg) {
        margin: 1rem auto;
      }
    }
  }

  .subsection {
    grid-template-columns: 100%;
    grid-template-rows: 50vh;

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 33vh;
    }

    .figure {
      background-color: var(--light);
    }
  }

  .subsection--left {
    @include breakpoint(md) {
      grid-template-areas: "figure content";
    }
  }

  .subsection--right {
    @include breakpoint(md) {
      grid-template-areas: "content figure";
    }
  }

  .feet {
    display: block;
    margin: 0 auto;

    .c {
      fill: var(--primary-dark);
      transition: fill 0.4s ease-in-out;
    }

    .b g {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.4s;

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
    }

    &__wrap {
      position: relative;
      margin: 0 auto;
      display: block;
      padding: 1rem;
      transition-duration: 0.4s;
      max-width: 130px;
    }
  }

  .aos-animate .feet {
    display: block;

    .c {
      fill: var(--primary-light);
      transition: fill 0.4s ease-in-out;
    }

    .b g {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &:nth-of-type(2) {
        transition-delay: 0.4s;

        .c {
          transition-delay: 0.4s;
        }
      }
    }
  }

  .transition {
    margin: auto;

    &--odd {
      &:first-of-type {
        margin-right: 35%;
      }

      margin-right: 43%;

      .feet {
        transform: rotate(45deg);
      }
    }

    &--even {
      &:first-of-type {
        margin-left: 35%;
      }

      margin-left: 43%;

      .feet {
        transform: rotate(-45deg);
      }
    }
  }

  .section .feet__wrap {
    margin-right: auto;
    margin-left: 25%;

    .feet {
      transform: rotate(-45deg);
    }

    &.even {
      margin-left: auto;
      margin-right: 25%;
      margin-bottom: 2rem;

      .feet {
        transform: rotate(45deg);
      }
    }
  }
}
