.figure {
  padding: 3rem;
  background-color: transparent;
  align-self: stretch;
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  align-content: center;

  @include breakpoint(xl) {
    padding: 1rem;
  }

  &__img {
    place-self: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    //padding: 5vh;
    box-sizing: border-box;

    @include breakpoint(xl) {
      padding: 0;
    }

    &--landscape {
      width: 100%;
      height: auto;
      place-self: center stretch;
      max-width: 700px;
      max-height: 350px;
    }

    &--portrait {
      width: auto;
      height: 100%;
      place-self: stretch center;
      max-width: 350px;
      max-height: 700px;
    }

    &--square {
      place-self: stretch;
      max-width: 350px;
      max-height: 350px;
    }

    &--svg {
      width: 100%;
      height: auto;
      place-self: stretch;
      //max-height: unset;
    }
  }
}
