.hero {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  place-self: center;
  //margin-top: 75px;
  background-color: var(--dark-a);
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;

  @include contain;

  @include breakpoint(md) {
    margin: 5vh auto;
    grid-template-columns: 7fr 4fr;
    grid-template-areas: "left right";
    min-height: 40vh;

    @include border(var(--dark));
  }

  @include breakpoint(xl) {
    margin: 5vh auto 2vh auto;
  }

  @include breakpoint(xxl) {
    margin: 3vw auto;
  }

  &__figure {
    display: block;
    grid-area: middle;
    z-index: 1;

    @include breakpoint(md) {
      position: relative;
      display: grid;
      justify-self: end;
      align-self: stretch;
      grid-area: left;
    }
  }

  .figure__img {
    height: unset;
    max-height: unset;
  }

  &__copy {
    display: block;
    position: relative;
    grid-area: top;
    align-self: center;
    justify-self: stretch;
    color: var(--light);
    text-align: left;
    grid-template-columns: 1fr;

    @include breakpoint(md) {
      grid-area: right;
    }

    @include breakpoint(lg) {
      //padding: 3rem 3rem 3rem 5rem;
    }

    p {
      line-height: $line-height;
      font-size: (font-sizes(sm) * 0.95 );
      margin-bottom: 0.5rem;

      @include breakpoint(lg) {
        font-size: font-sizes(sm);
      }

      &:first-child {
        margin-top: 0.25rem;

        @include breakpoint(md) {
          margin-top: auto;
        }
      }
    }
  }

  .btns {
    margin-top: 2rem;
    margin-bottom: 0;
    grid-area: bottom;

    @include breakpoint(md) {
      grid-area: btn;
    }

    .btn {
      @include breakpoint(md) {
        padding: 0.5rem;
      }

      @include breakpoint(lg) {
        padding: 1rem;
      }
    }

    .btn:first-child {
      margin-left: 0;
    }

    .btn:last-child {
      margin-right: 0;
    }
  }
}
