.hero {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  place-self: center;
  margin-top: 75px;

  @include contain;

  @include breakpoint(md) {
    margin: 5vh auto;
    grid-template-columns: 7fr 4fr;
    min-height: 40vh;
  }

  @include breakpoint(xl) {
    margin: 5vh auto 2vh auto;
  }

  @include breakpoint(xxl) {
    margin: 3vw auto;
  }

  &__figure {
    position: absolute;
    display: block;
    z-index: 1;

    @include breakpoint(md) {
      position: relative;
      display: grid;
      justify-self: end;
      align-self: center;
      z-index: 4;
    }
  }

  &__img {
    position: relative;
    width: 100vw;
    max-width: 100%;
    margin-left: 7.5vw;
  }

  &__copy {
    position: relative;
    background-color: var(--dark-a);
    align-self: stretch;
    justify-self: stretch;
    padding: 2rem 1rem 1rem 2rem;
    color: var(--light);
    text-align: left;
    z-index: 2;

    @include border(var(--dark));

    @include breakpoint(lg) {
      padding: 3rem 3rem 3rem 5rem;
    }

    &::before {
      content: "";

      @include breakpoint(md) {
        display: grid;
        justify-self: stretch;
        background-color: var(--primary);
        width: 50vw;
        height: 100%;
        position: absolute;
        top: -$border-size;
        left: -50vw;
        z-index: -10;

        @include border(var(--dark));
      }
    }

    p {
      margin: 3rem 0 1rem 0;
      line-height: $line-height;
      font-size: (font-sizes(sm));

      @include breakpoint(lg) {
        //font-size: (font-sizes(md) * 0.85);
      }

      &:last-child {
        margin-top: 4rem;
      }
    }
  }
}
