.id-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  background-color: var(--light);

  @include border(var(--dark));

  @include breakpoint(md) {
    width: 55vw;
    height: 25vh;
  }

  @include breakpoint(xl) {
    width: 33vw;
    max-width: 650px;
  }

  &__icon {
    place-self: center;
  }

  &__text {
    padding-top: 1rem;
    text-align: left;
    place-self: center;

    p {
      font-size: 0.55rem;
      margin-right: 0.5rem;

      @include breakpoint(md) {
        font-size: inherit;
      }
    }
  }

  .figure {
    padding: 0;
  }
}
